body{
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 0.9em;
    text-align: center;

}
main, footer{
    width: 45rem;
    margin: auto;
    text-align: left;
}
#logo{
    width: 15rem;
    margin: 1rem 0;

}

.description-logo {
    background-color: rgb(250, 250, 241);
    padding: 1rem;
    border-top: 1px solid rgb(244, 208, 3); 
}
h1{
    text-align: center;
}

main{
    margin: auto;
    margin-top: 4em;
    width: 45rem;
}

.img-focaccia video{
    width: 100%;
    border-radius: 10px;
}
.img-focaccia p{
    color:gray;
    text-align: center;

}
.feature{
    border-left:1px solid rgb(244, 208, 3); 
    padding-left: 1em ;
}
.feature p{
    margin: 0 auto;
    color: rgb(233, 159, 22);
    
}

b{
    text-transform: uppercase;
}
ul li{
    padding-bottom: 1.5em;
}


